*{
    margin: 0;
    padding: 9;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    align-items: center;
    display: flex;
    height: 75vh;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
}
.container .titulo {
    font-weight: 600;
    font-size: 25px;
    position: relative;
    text-align: center;
}
.container .titulo::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.container form .usuario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0 10px 0;
}
form .usuario .input{
    text-transform: initial;
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
    padding-bottom: 5px;
}
.usuario .input input{
    height: 45px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 0.24);
    padding-left: 15px;
    font-size: 16px;
}
.usuario .detalhes .input{
    display: block;
    font-weight: 500;
    margin-bottom: 15px;
}
form .button{
    height: 50px;
    margin: 40px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 18px;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
form .button input:hover{
    background: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}